.container {
  padding:20px;

  .child-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .order-title {
      width: 150px;
    }
  }

  .child-form-container {
    display: flex;
  }
}

.action-container {
  display: flex;
  justify-content: space-around;
}
