.container {
  padding:20px;

  .child-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .order-title {
      width: 150px;
    }
  }

  .child-form-container {
    display: flex;
  }
}

.total-amount-container {
  display: flex;
  height: 100px;
  width: 90%;
  align-items: center;
  justify-content: flex-end;
}

.action-container {
  display: flex;
  justify-content: space-around;
}
