
<div id="modal-content-wrapper">
  <header id="modal-header">
      <h1 id="modal-title" *ngIf="modalVersion === 'edit'">Edytuj produkt</h1>
      <h1 id="modal-title" *ngIf="modalVersion === 'add'">Dodaj produkt</h1>
  </header>
  <section id="modal-body" class="body-edit" *ngIf="modalVersion === 'edit'">
    <div class="edit-container">
      <div class="product-name">
        {{testStr.passParam.product_name}}
      </div>
      <div class="form-child">
        <mat-form-field appearance="fill">
          <mat-label>Waga</mat-label>
          <input matInput placeholder="Amount" [(ngModel)]="itemAmount">
        </mat-form-field>
      </div>
      <div class="product-amount">
        Cena za kg: {{testStr.productPriceMap[testStr.passParam.product_id].product_default_price}}
      </div>

      <div class="product-sum">
        Suma: {{itemAmount * testStr.productPriceMap[testStr.passParam.product_id].product_default_price}}
      </div>
    </div>


    <div class="form-child">
      <mat-form-field appearance="fill">
        <mat-label>Komentarz</mat-label>
        <input matInput placeholder="Comment" [(ngModel)]="itemComment">
      </mat-form-field>
    </div>
  </section>

  <div *ngIf="modalVersion === 'add'">
    <app-add-order-item-modal [dataPassToModal]="testStr" (closeModal)="closeModal()"></app-add-order-item-modal>
  </div>

  <footer id="modal-footer" >
    <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Zamknij</button>
      <button mat-raised-button id="modal-action-button" (click)="actionFunction()" *ngIf="modalVersion === 'edit'">Edytuj</button>
  </footer>
</div>
