<div class="container">
  <div class="form-content">
    <div class="form-child">
      B&MSausages - nazwa sklepu
    </div>
    <mat-form-field>
      <mat-select [(value)]="selectedClient" >
        <mat-option [value]="client.id" *ngFor="let client of clientList">
          {{client.client_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-child">
     nr faktury
    </div>
    <div class="form-child button">
      <button mat-button (click)="onSubmit()">Dodaj</button>
    </div>
  </div>
</div>
