.main-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .app-option-container {
    padding:20px;
    width:100%;
  }

  .cursor {
    cursor: pointer;
  }
}
